/* m0+p0 */
*{
    box-sizing: border-box;
    margin: 0;
padding: 0;
}
.an{
    background-color: red;
    color: azure;
}
.an .am{
    background-color: black;
    color: azure;
}
/* #demo{
    color: aqua;
} */
.test.exam{
    color: chocolate;
}
p{
    color: bisque;
}
.m1.m2{
    width: 100vw;
    height: 20vh;
    box-sizing: border-box;
    background-color: black;
    color:azure;
    border:2px solid red;

}
.n1 .n2{      
    width: 99vw;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.355);
    color:azure;
    box-sizing: border-box;
    border:2px solid rgb(13, 0, 255);
}