#para1{
    text-align: center;
}
p{
    color: blue;
}
.class1{
    color: blue;
}
.class2{
    text-align: center;
}
p,h1{
    color: blue;
}
div h1{
    color: blue;
}
/* BACKGROUND */
/* body{
    background-color: red;
    background-color: #FF0000;
    background-color: rgb(255,0,0);
} */
body{
    background-image: url("result.png");
    background-repeat: repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
body{
    background-image: url("result.png");
    background-repeat: no-repeat;
    background-position: 20px 10px;
    background-position: 30%,30%;
    background-position: top center;
}
/* CSS FONT */
/* font color */
/* font size
font family */
h4{
    color:red;
}
h4{
    font-family: 'Times New Roman', Times, serif;
}
h4{
    font-size:x-large;
}
p{
    font-family: "Doto", sans-serif;
}

    